{%extends 'shop/base.html' %}

{% block title %}
About Us
{%endblock%}


{%block body%}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Eshop</h1>
        <p>The Nintendo eShop[a] is a digital distribution service powered by the Nintendo Network for the Nintendo 3DS family and Wii U, and by a dedicated online infrastructure for the Nintendo Switch. Launched in June 2011 on the Nintendo 3DS, the eShop was enabled by the release of a system update that added the functionality to the Nintendo 3DS's HOME Menu.[2] It is the successor to both the Wii Shop Channel and DSi Shop. Unlike on the Nintendo 3DS, the eShop was made available on the launch date of the Wii U, although a system update is required in order to access it.[3] It is also a multitasking application, which means it is easily accessible even when a game is already running in the background through the system software, though this feature is exclusive to the Wii U and the Nintendo Switch. The Nintendo eShop features downloadable games, demos, applications, streaming videos, consumer rating feedback, and other information on upcoming game releases.

            Minority versions of the Nintendo eShop on both the Wii U and 3DS family were discontinued on July 31, 2020 (specifically Latin America and Caribbean countries) which featured a more limited eShop. From that date, downloading, redownloading, and updating software are unavailable and games using the eShop are also affected. Countries in the region with the full eShop and the rest of the world (including the USA, Japan, Europe, and Australia) are currently unaffected.[4]</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
  
{%endblock%}